

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}
h5 {
    color: #fcea10;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
section{
    color: black;
}
.vertical-align{
    border-left: 5px solid #1F758E;
    height: 100px;
    margin: 10px;
}
// .input-group{
//     float: right;
//     width: 50px;
// }
// .input-group button i {
//     width: 5px;
//     height: auto;
// }