<div>
    <div>
        <img src="../../../assets/images/education.jfif" alt="cover" width="100%" height="400px">
    </div>
    <div class="container">
        <div>
            <h2>{{currentArticle.title}}</h2>
            <p>
                {{currentArticle.description}}
            </p>
        </div>
        
    </div>

    <!-- <pre><code>{{currentArticle | json}}</code></pre> -->
    <div class="container commentaire">
        <h2>Ajouter un commentaire</h2>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
              <mat-label>Commentaire</mat-label>
              <textarea matInput rows="15" cols="40"  placeholder="Mettez votre commentaire ici..."></textarea>
            </mat-form-field>
        </form>
        <button mat-flat-button color="primary">Postez</button>
    
    </div>
    <hr>
    
    <!-- blogs comments -->
    <div class="container">
    
        <div class="row comments-section mb-3">
            <div class="col-md-2 col-3">
                <div class="img">
                    <img src="../../../../assets/images/maire.PNG" alt="" >
                </div>
            </div>
    
            <div class="col-md-10 col-9">
                <h3> <i class="fa fa-comment me-1" aria-hidden="true"></i> 
                    <b>
                        Samba Sy
                    </b>
                    </h3>
                <small> 12H12 25/01.95 </small>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque beatae dolorem, at corrupti iste laudantium, odit repellendus similique facere aspernatur blanditiis nobis porro veniam voluptate aperiam, perferendis corporis magnam impedit?
                    Debitis dicta architecto commodi perspiciatis ducimus libero eius eveniet non quis velit nihil et recusandae unde, aliquam officia suscipit iste nostrum voluptas excepturi pariatur illo! Qui iste sequi error minima.
                </p>
            </div>
        </div>
    
    </div>
    
   
            <div class="container">
            
                <div class="react-section" >
                    <a class="btn reactBtn" >
                        <i class="fa fa-thumbs-up-o" aria-hidden="true"></i>
                         Like 
                         <span class="badge bg-secondary">
                            1
                         </span>
                    </a>
                    <a class="btn reactBtn" >
                        <i class="fa fa-heart-o" aria-hidden="true"></i> 
                        Love 
                        <span class="badge bg-secondary">
                            1
                        </span>
                    </a>
                    <a class="btn reactBtn" >
                        <i class="fa fa-smile-o" aria-hidden="true"></i> 
                        Haha 
                        <span class="badge bg-secondary">
                            0
                        </span>
                    </a>
                    <a class="btn reactBtn" >
                        <i class="fa fa-frown-o" aria-hidden="true"></i> 
                        Sad
                        <span class="badge bg-secondary">
                            0
                        </span>
                    </a>
                    <a class="btn reactBtn" >
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        Informative 
                        <span class="badge bg-secondary">
                           01
                        </span>
                    </a>
                </div>
            </div>
            <hr class="mt-4">
        
    
</div>



