<app-nav>
    <div>
        <h1 class="text-center mt-3">COMMUNE DE BISCUITERIE</h1>
        <h2 class="text-center">ART & CULTURES</h2>
    </div>
    <div class="container clearfix">
       
        <img src="../../../../assets/images/education.jfif" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
      
        <p>
          Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris paddenstoel nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      
        <p>
          Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Id nullam tellus relem amet commodo telemque olemit. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        </p>
      
        <p>
          Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lantaarnpaal quam venenatis vestibulum. Donec sed odio dui. Maecenas faucibus mollis interdum. Nullam quis risus eget urna salsa tequila vel eu leo. Donec id elit non mi porta gravida at eget metus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quidem temporibus esse. Aperiam sequi officia molestias voluptas alias tenetur, magnam expedita cumque illum culpa? Ullam itaque deleniti voluptatum eius fugit.
            A cum quae animi repellendus atque ipsum ipsa nihil temporibus molestiae suscipit, illum exercitationem, tenetur sint. Eveniet iste quidem, rem magnam officia alias sequi provident vero illum! Debitis, minus assumenda.
            Consequuntur aliquam minima magni ab quibusdam dignissimos, veniam et facilis autem. Quia numquam illum inventore ipsa sequi laudantium ipsam, cum pariatur. Est sed voluptate minima culpa quas distinctio eum hic.
            Beatae laboriosam totam veniam velit iusto dolore doloremque, dignissimos unde culpa dolorum ipsum eaque, vero illo error accusamus possimus cupiditate voluptatem dolorem quia eos debitis officia doloribus facere consequuntur. Quasi.
            Possimus nemo, nam expedita asperiores dolor laborum obcaecati quasi odio a nulla rem totam laboriosam reiciendis aut et nobis commodi error, vero repudiandae! Nisi quaerat at rem? In, iste nam.
            Minus exercitationem temporibus rem, doloribus eveniet at ratione itaque quam officiis amet, explicabo eos quas mollitia vitae optio iusto sequi necessitatibus! Similique quidem, recusandae sequi deserunt fugit perferendis sunt natus.
            Sequi explicabo ut totam doloribus! Excepturi, minus quasi! Delectus dolorum eaque nemo explicabo rerum? Assumenda sequi velit repudiandae repellendus, id facere distinctio nostrum amet recusandae illo deleniti, quos, et odio.
            Odit eligendi velit laboriosam, ex ipsam suscipit nesciunt quod consectetur obcaecati, fugiat facere et corporis corrupti. Minus, quod amet! Amet repellendus doloribus assumenda deleniti provident? Assumenda earum fuga iusto? Eius!
            Molestias, dicta. Tempore illum vitae minima amet, ratione laborum nulla expedita veritatis tempora eaque, odio eligendi quo quod dolor, ex ut doloremque itaque eos nemo veniam aut. Voluptatem, pariatur mollitia.
            Nisi accusamus perspiciatis tempora possimus atque fugiat, architecto quo ut vel iste, eligendi delectus accusantium, culpa quisquam adipisci dolore eveniet temporibus sint eius quidem facere doloremque. Repellat veritatis sequi numquam.
        </p>
    </div>

</app-nav>
