mat-grid-tile {
    background: lightblue;
  }
.card-title{
  font-size: 3.5em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  color: #1F758E;
 
}
.container h2 {
  font-size: 3em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  color: white;
  background-color: #1F758E;
  border: 2px solid white;
}
.card{
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
.waaw{
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  color: #1F758E;
}
.bg-transparent{
  border-color: white;
}.btn{
  background-color: white;
  color: #1F758E;
  font-size: 1em;
}
.card-text {
  font-size: 1.19em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
    }
.image_actu{
  max-width: 285px; 
  max-height:150px;
}