mat-grid-tile {
    background: lightblue;
  }
.card-title{
  font-size: 3.5em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  color: #1F758E;
}
.waaw{
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  color: #1F758E;
}
.card-text {
  font-size: 1.19em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  
}