<app-nav>
  <div class="text-center text-black">
    <div class="container p-4">
      <div class="row ">
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <img
            src="../../../assets/images/maire.PNG"
            alt="Trendy Pants and Shoes" class="card-img-top rounded-start" />
        </div>
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <div class="card-body">
            <h1 class="card-title">Mot du maire</h1>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dolore minima consequuntur dolorem. Nemo sequi quod harum
              vero animi voluptates esse consectetur, assumenda rerum,
              cum ut tempore omnis nisi mollitia eaque?
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dolore minima consequuntur dolorem. Nemo sequi quod harum
              vero animi voluptates esse consectetur, assumenda rerum,
              cum ut tempore omnis nisi mollitia eaque?
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dolore minima consequuntur dolorem. Nemo sequi quod harum
              vero animi voluptates esse consectetur, assumenda rerum,
              cum ut tempore omnis nisi mollitia eaque?
            </p>
            <!-- <p class="card-text waaw">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p> -->
          </div>
        </div>
      </div>
    </div>
  
  
  
  </div>
      <div class="container text-center text-black">
      
        <h2>ACTUALITES</h2>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">      
            <div class="card  mb-3" style="background-color: #1F758E; color: white; border: 2px solid #1F758E; max-width: 18rem;">
              <div class="card-header p-0"><img src="../../../assets/images/communique.jfif" class="card-img-top image_actu"
                alt="Hollywood Sign on The Hill" /></div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laudantium laborum facere eligendi illo perspiciatis aliquam dolor rerum voluptas eum. Dolorem ipsam modi nobis neque amet quaerat? Dicta, adipisci nesciunt.</p>
              </div>
              <a href="#" class="btn"><div class=" bg-transparent">Lire la Suite</div></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">      
            <div class="card  mb-3" style="background-color: #1F758E; color: white; border: 2px solid #1F758E; max-width: 18rem;">
              <div class="card-header p-0"><img src="../../../assets/images/maire.PNG" class="card-img-top image_actu"
                alt="Hollywood Sign on The Hill"/></div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laudantium laborum facere eligendi illo perspiciatis aliquam dolor rerum voluptas eum. Dolorem ipsam modi nobis neque amet quaerat? Dicta, adipisci nesciunt.</p>
              </div>
              <a href="#" class="btn"><div class=" bg-transparent">Lire la Suite</div></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">      
            <div class="card  mb-3" style="background-color: #1F758E; color: white; border: 2px solid #1F758E; max-width: 18rem;">
              <div class="card-header p-0"><img src="../../../assets/images/logo_commune.jpg" class="card-img-top image_actu"
                alt="Hollywood Sign on The Hill" /></div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laudantium laborum facere eligendi illo perspiciatis aliquam dolor rerum voluptas eum. Dolorem ipsam modi nobis neque amet quaerat? Dicta, adipisci nesciunt.</p>
              </div>
              <a href="#" class="btn"><div class=" bg-transparent">Lire la Suite</div></a>
            </div>
          </div>
          
        </div>
        
        <a href="/actualites">Voir La Page Actualite</a>
        
        <!-- <nav aria-label="Page navigation example" style="background-color: #1F758E;">
          <ul class="pagination justify-content-center" style="text-align: center;">
            <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
          </ul>
        </nav> -->
        
      </div>
</app-nav> 