<app-nav>
    <div class="text-center text-black">
        <div class="container p-4">
            <h1>La Mairie</h1>
          <div class="row ">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
              <img
                src="https://scontent.fdkr6-1.fna.fbcdn.net/v/t39.30808-6/258823264_438297481199300_6256340017408903557_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=fQfa6UFGmoEAX8LpZ5g&tn=DVtPD-FjejqtshPT&_nc_ht=scontent.fdkr6-1.fna&oh=00_AT9kA2HApmnL39EnudEvG-Y1Gl1taLdKUkBUtrOrbTBmOQ&oe=63310905"
                alt="Trendy Pants and Shoes" class="card-img-top rounded-start" />
            </div>
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
              <div class="card-body">
                <h2 class="card-title">Bibliographie du maire</h2>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolore minima consequuntur dolorem. Nemo sequi quod harum
                  vero animi voluptates esse consectetur, assumenda rerum,
                  cum ut tempore omnis nisi mollitia eaque?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolore minima consequuntur dolorem. Nemo sequi quod harum
                  vero animi voluptates esse consectetur, assumenda rerum,
                  cum ut tempore omnis nisi mollitia eaque?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolore minima consequuntur dolorem. Nemo sequi quod harum
                  vero animi voluptates esse consectetur, assumenda rerum,
                  cum ut tempore omnis nisi mollitia eaque?
                </p>
                <a class="btn" routerLink="/biographie">Voir +</a>
                <!-- <p class="card-text waaw">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p> -->
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid text-center text-black mx-auto" style="background-color: #1F758E;">
        <h1>Les Prédecessurs</h1>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">      
            <div class="card  mb-3" style="background-color: white; color: #1F758E; border: 2Px solid white; max-width: 18rem;">
              <div class="card-header p-0"><img src="../../../assets/images/doudou_issa_niass.jfif" class="card-img-top"
                alt="Hollywood Sign on The Hill" /></div>
             <div class="card-footer bg-transparent">Feu DouDOU Issa Niass</div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">      
            <div class="card  mb-3" style="background-color: white; color: #1F758E; border: 2Px solid white; max-width: 18rem;">
              <div class="card-header p-0"><img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                alt="Hollywood Sign on The Hill" /></div>
             <div class="card-footer bg-transparent">Monsieur Lamine Dia</div>
            </div>
          </div>
        </div>
    </div>
    <!--Municipalités -->
    <div class="container text-center text-black  mx-auto">
        <h2>Municipalité</h2>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a routerLink="/activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Le Maire</div>
                <div class="card-body text-success p-0">
                  <img src="../../../assets/images/maire.PNG" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Conseil Municipal</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Cabinet Du Maire</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Le Bureau Municipal</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Administration Municipal</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Finances</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
        </div>
    </div>
    <!--Le conseil Municiapl-->
    <div class="container-fluid text-center text-black  mx-auto" style="background-color: #1F758E;">
        <h2 class="m-0 p-0" style="font-size: 2.5em; font-family: 'Times New Roman', Times, serif; font-weight: 100; color: white; border: 2px solid white;">Le Conseil Municipal</h2>
        <div class="row">
            <h2>Le Maire</h2>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card shadow-0 mb-3" style="width: 10rem;">
                    <img src="../../../assets/images/maire.PNG" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                      <h3 class="card-text">Mouhamed djibril Wade</h3>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <h2>Les Adjoint Au Maire</h2>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                        <h3 class="card-text">Nom Du Premier Adjoint</h3>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                        <h3 class="card-text">Nom Du Deuxiéme Adjoint</h3>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                        <h3 class="card-text">Nom Du Deuxiéme Adjoint</h3>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                        <h3 class="card-text">Nom Du Quatriém Adjoint</h3>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                    <h3 class="card-text">Nom Du Cinquiém Adjoint</h3>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body" style="background-color: white;">
                        <h3 class="card-text">Nom Du Sixieme Adjoint</h3>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <h2>Les Sécretaires Elus</h2>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                        <h3 class="card-text">Nom Du Secretaire</h3>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                        <h3 class="card-text">Nom Du Secretaire</h3>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                        <h3 class="card-text">Nom Du Secretaire</h3>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                        <h3 class="card-text">Nom Du Secretaire</h3>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                        <h3 class="card-text">Nom Du Secretaire</h3>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
                <div class="card" style="width: 10rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                        <h3 class="card-text">Nom Du Secretaire</h3>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-2 col-md-4 col-sm-6 mx-auto p-1">
                <a href="#" class="btn button">Voir La Liste Compléte</a>
            </div>
        </div>
    </div>
    
    <!--Cabinet du maire-->
    <div class="container text-center text-black  mx-auto">
      <h2 class="mt-3">CABINET DU MAIRE</h2>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
          <a href="" routerLink="activites">
            <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
              <div class="card-header">Directeur De Cabinet</div>
              <div class="card-body text-success p-0">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                  alt="Hollywood Sign on The Hill" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
          <a href="" routerLink="activites">
            <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
              <div class="card-header">SECRETAIRE</div>
              <div class="card-body text-success p-0">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                  alt="Hollywood Sign on The Hill" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
          <a href="" routerLink="activites">
            <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
              <div class="card-header">COMMISSION & RP</div>
              <div class="card-body text-success p-0">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                  alt="Hollywood Sign on The Hill" />
              </div>
            </div>
          </a>
        </div>
      </div> 
    </div>
    
    <!--Administration Municipal-->
    <div class="container-fluid text-center text-black mb-4  mx-auto" style="background-color: #1F758E;">
      <h2 class="mt-3 abs">ADMINISTRATION MUNICIPAL</h2>
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 mx-auto">
          <a href="" routerLink="activites">
            <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
              <div class="card-header">Sécretaire Municipal</div>
              <div class="card-body text-success p-0">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                  alt="Hollywood Sign on The Hill" />
              </div>
            </div>
          </a>
        </div>
      </div> 
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
          <a href="" routerLink="activites">
            <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
              <div class="card-header">Division De La Planification & Des Compétences Transférées</div>
              <div class="card-body text-success p-0">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                  alt="Hollywood Sign on The Hill" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
          <a href="" routerLink="activites">
            <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
              <div class="card-header">Division Des Services Techniques</div>
              <div class="card-body text-success p-0">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                  alt="Hollywood Sign on The Hill" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
          <a href="" routerLink="activites">
            <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
              <div class="card-header">Etat Civil</div>
              <div class="card-body text-success p-0">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                  alt="Hollywood Sign on The Hill" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
          <a href="" routerLink="activites">
            <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
              <div class="card-header">Division De l'Administration Générale & Des Finances</div>
              <div class="card-body text-success p-0">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                  alt="Hollywood Sign on The Hill" />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    
</app-nav>
<router-outlet></router-outlet>
