<app-nav> 
          <!--Activités-->
          <div class="container text-center text-black">
            <h2 class="mt-3">ACTIVITES</h2>
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
                <a href="" routerLink="/education">
                  <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                    <div class="card-header">Education</div>
                    <div class="card-body text-success p-0">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                        alt="Hollywood Sign on The Hill" />
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
                <a routerLink="/sports">
                  <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                    <div class="card-header">Sport</div>
                    <div class="card-body text-success p-0">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                        alt="Hollywood Sign on The Hill" />
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
                <a  routerLink="/culture">
                  <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                    <div class="card-header">Art & Culture</div>
                    <div class="card-body text-success p-0">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                        alt="Hollywood Sign on The Hill" />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
                <a routerLink="/santessecurite">
                  <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                    <div class="card-header">Santé</div>
                    <div class="card-body text-success p-0">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                        alt="Hollywood Sign on The Hill" />
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
                <a routerLink="/social">
                  <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                    <div class="card-header">Social</div>
                    <div class="card-body text-success p-0">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                        alt="Hollywood Sign on The Hill" />
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
                <a routerLink="/environnement">
                  <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                    <div class="card-header">Environnement</div>
                    <div class="card-body text-success p-0">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                        alt="Hollywood Sign on The Hill" />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            
          </div>
          
          <!--Les grands projets-->
          <div class="container-fluid text-center text-black mb-4" style="background-color: #1F758E;">
            <h2 class="mt-4">Les Grands Projets</h2>
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
                <a routerLink="/reabilitationAvenue">
                  <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                    <div class="card-header">Reabitation Avenue Cheikh Ahmadou BAMBA</div>
                    <div class="card-body text-success p-0">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                        alt="Hollywood Sign on The Hill" />
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
                <a routerLink="/biscuiteriesansable">
                  <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                    <div class="card-header">Biscuiterie Sans Sable</div>
                    <div class="card-body text-success p-0">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                        alt="Hollywood Sign on The Hill" />
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
                <a href="" routerLink="/terrainngb">
                  <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                    <div class="card-header">Construction Terrain NGB</div>
                    <div class="card-body text-success p-0">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                        alt="Hollywood Sign on The Hill" />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            
          </div>
</app-nav>
