.container h2 {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #1F758E;
  }
  .container-fluid h2 {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: white;
  }
  .card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }
  .card-header{
      font-size: 1.10em;
      color: #1F758E;
  }