<div class="">
  <div class="container login d-flex justify-content-center">
  <!-- Material form login -->
<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>S'inscrire</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form [formGroup]="registerForm" class="text-center" style="color: #757575;">

      <!-- Fullusername -->
      <div class="md-form">
        <label for="">Prénom & Nom</label>
        <input type="text" placeholder="Votre Prénom & Nom" formControlName="fullusername" class="form-control" required>
        <!-- <mat-error *ngIf="registerForm.controls['fullusername'].hasError('required')">
          FullName is <strong>required</strong>
        </mat-error> -->
      </div>
      
      <!-- Email -->
      <div class="md-form">
        <label for="">E-mail</label>
        <input type="email" placeholder="nom@example.com" formControlName="email" class="form-control" required>
        <!-- <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
          email is <strong>required</strong>
        </mat-error> -->
      </div>
      
      <!-- adresse -->
      <div class="md-form">
        <label for="">Adresse</label>
        <input type="text" placeholder="Adresse De Résidence" formControlName="city" class="form-control" required>
        <!-- <mat-error *ngIf="registerForm.controls['city'].hasError('required')">
          Adresse is <strong>required</strong>
        </mat-error> -->
      </div>
      
      <!-- numéro tél -->
      <div class="md-form">
        <label for="">Téléphone</label>
        <input type="number" placeholder="+000 00 000 00 00" formControlName="phone" class="form-control">
      </div>

      <!-- Password -->
      <div class="md-form">
        <label for="">Password</label>
        <input type="password" placeholder="Votre Mot De Passe" formControlName="password" class="form-control" required>
        <!-- <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error> -->
      </div>

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
          </div>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" (click)="onSubmit()">Sign in</button>

      <!-- Register -->
      <p>Vous avez un compte?
        <a href="/signin">Se Connecter Ici</a>
      </p>

      <!-- Social login -->
      <p>or sign in with:</p>
      <a type="button" class="btn-floating btn-fb btn-sm">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a type="button" class="btn-floating btn-tw btn-sm">
        <i class="fab fa-twitter"></i>
      </a>
      <a type="button" class="btn-floating btn-li btn-sm">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a type="button" class="btn-floating btn-git btn-sm">
        <i class="fab fa-github"></i>
      </a>

    </form>
    <!-- Form -->

  </div>
</div>