<app-nav>
    <!--Démarche Administrative-->
    <div class="container text-center text-black">
        <h2 class="mt-3">DEMARCHE ADMINISTRATIVE</h2>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Dépot Certificat Mariage</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Demande Acte Naissance</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Depot Certificat Décés</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Demande Bulletin Naissance</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Depot Mariage Coutumier</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Demande Certificat Vie Collectif</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
        </div>
        
      </div>
</app-nav>
