<app-nav>
    <!--Démarche Administrative-->
    <div class="container text-center text-black">
        <h2 class="mt-3">DEMARCHE ADMINISTRATIVE</h2>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Dépot Certificat Mariage</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Demande Acte Naissance</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Depot Certificat Décés</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Demande Bulletin Naissance</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Depot Mariage Coutumier</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
            <a href="" routerLink="activites">
              <div class="card shadow-0 mb-3" style="border: 2px solid #1F758E; max-width: 18rem;">
                <div class="card-header">Demande Certificat Vie Collectif</div>
                <div class="card-body text-success p-0">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img"
                    alt="Hollywood Sign on The Hill" />
                </div>
              </div>
            </a>
          </div>
        </div>
        
    </div>
    
    
<div class="container">
    <div class="mbody">

      <div class="containers">
          <div class="box">
              <div class="imgBx">
                  <img src="../../../assets/images/fotodemarche.jpg">
              </div>
              <div class="contents">
                  <a href="#">
                      <h3>Acte De Naissance</h3>
                  </a>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, alias dolorum? Laboriosam deleniti vitae quia ratione deserunt inventore veniam sit provident odit dolorem! Sed modi, omnis nemo fuga aperiam velit!
                      Numquam perspiciatis omnis modi, id quo quam quas atque nobis dicta amet natus! Facere ipsa ad quia non consectetur voluptate? Autem cupiditate libero error incidunt dolor praesentium recusandae tenetur asperiores!
                  </p><br>
                  <button class="modal-button" href="#myModal1" style="width:200px; height: auto; font-size: 20px;"> Deposez ici </button>

                  <!-- The Modal -->
                  <div id="myModal1" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                          <div class="modal-header">
                              <span class="close">×</span>
                              <h2>Merci de vouloir bien remplir le formulaire </h2>
                          </div>
                          <div class="modal-body">
                              <form action="newform" method="POST">
                                  <fieldset>
                                      <legend>Remplir ces champs</legend>
                                      <label for="prenom">Prenom:</label> <input type="text" name="prenom" id="prenom" placeholder="votre prenom"><br><br>
                                      <label for="nom">Nom:</label><input type="text" name="nom" id="nom" placeholder="votre nom"><br><br>
                                      <label for="email">Votre email :</label> <input type="email" name="email" size="" maxlength="60" id="email" placeholder="Mettez votre email" required="required" /><br><br>
                                      <label for="naissance">Date De Naissance:</label><input type="datetime" name="date" id="date" placeholder="Annee-Mois-Jour"><br><br>
                                      <label for="registre">Numero Registre:</label><input type="number" name="nombre" id="nombre" placeholder="Numero Registre"><br><br>
                                      <label for="adress">Adresse:</label><input type="text" name="adresse" id="adresse" placeholder="votre adresse"><br><br>
                                  </fieldset>
                                  <p>
                                      <input type="submit" value="Envoyer">
                                      <input type="reset" value="Annuler">
                                  </p>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <h2>Mairie De Biscuiterie</h2>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="box">
              <div class="imgBx">
                  <img src="../../../assets/images/passeport.jpg">
              </div>
              <div class="contents">
                  <a href="#">
                      <h3>Acte De Naissance</h3>
                  </a>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, alias dolorum? Laboriosam deleniti vitae quia ratione deserunt inventore veniam sit provident odit dolorem! Sed modi, omnis nemo fuga aperiam velit!
                      Numquam perspiciatis omnis modi, id quo quam quas atque nobis dicta amet natus! Facere ipsa ad quia non consectetur voluptate? Autem cupiditate libero error incidunt dolor praesentium recusandae tenetur asperiores!
                  </p><br>
                  <!-- Trigger/Open The Modal -->
                  <button class="modal-button" href="#myModal2" style="width:200px; height: auto; font-size: 20px;"> Deposez ici </button>

                  <!-- The Modal -->
                  <div id="myModal2" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                          <div class="modal-header">
                              <span class="close">×</span>
                              <h2>Merci de vouloir bien remplir ce formulaire(pour le depot de vos dossier)</h2>
                          </div>
                          <div class="modal-body">
                              <form action="newform" method="POST">
                                  <fieldset>
                                      <legend>Remplir ces champs</legend>
                                      <label for="prenom">Prenom:</label> <input type="text" name="prenom" id="prenom" placeholder="votre prenom"><br><br>
                                      <label for="nom">Nom:</label><input type="text" name="nom" id="nom" placeholder="votre nom"><br><br>
                                      <label for="email">Votre email :</label> <input type="email" name="email" size="" maxlength="60" id="email" placeholder="Mettez votre email" required="required" /><br><br>
                                      <label for="naissance">Date De Naissance:</label><input type="datetime" name="date" id="date" placeholder="Annee-Mois-Jour"><br><br>
                                      <label for="registre">Numero Registre:</label><input type="number" name="nombre" id="nombre" placeholder="Numero Registre"><br><br>
                                      <label for="adress">Adresse:</label><input type="text" name="adresse" id="adresse" placeholder="votre adresse"><br><br>
                                  </fieldset>
                                  <p>
                                      <input type="submit" value="Envoyer">
                                      <input type="reset" value="Annuler">
                                  </p>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <h2>Commune De Biscuiterie</h2>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="box">
              <div class="imgBx">
                  <img src="../../../assets/images/fotodemarche.jpg">
              </div>
              <div class="contents">
                  <a href="#">
                      <h3>Acte De Naissance</h3>
                  </a>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, alias dolorum? Laboriosam deleniti vitae quia ratione deserunt inventore veniam sit provident odit dolorem! Sed modi, omnis nemo fuga aperiam velit!
                      Numquam perspiciatis omnis modi, id quo quam quas atque nobis dicta amet natus! Facere ipsa ad quia non consectetur voluptate? Autem cupiditate libero error incidunt dolor praesentium recusandae tenetur asperiores!
                  </p><br>
                  <button class="modal-button" href="#myModal3" style="width:200px; height: auto; font-size: 20px;"> Deposez ici </button>

                  <!-- The Modal -->
                  <div id="myModal3" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                          <div class="modal-header">
                              <span class="close">×</span>
                              <h2>Merci de bien remplir ce formulaire(deposelma sama dossier)</h2>
                          </div>
                          <div class="modal-body">
                              <form action="newform" method="POST">
                                  <fieldset>
                                      <legend>Remplir ces champs</legend>
                                      <label for="prenom">Prenom:</label> <input type="text" name="prenom" id="prenom" placeholder="votre prenom"><br><br>
                                      <label for="nom">Nom:</label><input type="text" name="nom" id="nom" placeholder="votre nom"><br><br>
                                      <label for="email">Votre email :</label> <input type="email" name="email" size="" maxlength="60" id="email" placeholder="Mettez votre email" required="required" /><br><br>
                                      <label for="naissance">Date De Naissance:</label><input type="datetime" name="date" id="date" placeholder="Annee-Mois-Jour"><br><br>
                                      <label for="registre">Numero Registre:</label><input type="number" name="nombre" id="nombre" placeholder="Numero Registre"><br><br>
                                      <label for="adress">Adresse:</label><input type="text" name="adresse" id="adresse" placeholder="votre adresse"><br><br>
                                  </fieldset>
                                  <p>
                                      <input type="submit" value="Envoyer">
                                      <input type="reset" value="Annuler">
                                  </p>
                              </form>

                          </div>
                          <div class="modal-footer">
                              <h2>Commune De Biscuiterie 2020</h2>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="box">
              <div class="imgBx">
                  <img src="../../../assets/images/fotodemarche.jpg">
              </div>
              <div class="contents">
                  <a href="#">
                      <h3>Acte De Naissance</h3>
                  </a>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, alias dolorum? Laboriosam deleniti vitae quia ratione deserunt inventore veniam sit provident odit dolorem! Sed modi, omnis nemo fuga aperiam velit!
                      Numquam perspiciatis omnis modi, id quo quam quas atque nobis dicta amet natus! Facere ipsa ad quia non consectetur voluptate? Autem cupiditate libero error incidunt dolor praesentium recusandae tenetur asperiores!
                  </p><br>
                  <button class="modal-button" href="#myModal4" style="width:200px; height: auto; font-size: 20px;"> Deposez ici </button>

                  <!-- The Modal -->
                  <div id="myModal4" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                          <div class="modal-header">
                              <span class="close">×</span>
                              <h2>Merci de vouloir bien remplir ce formulaire</h2>
                          </div>
                          <div class="modal-body">
                              <form action="newform" method="POST">
                                  <fieldset>
                                      <legend>Remplir ces champs</legend>
                                      <label for="prenom">Prenom:</label> <input type="text" name="prenom" id="prenom" placeholder="votre prenom"><br><br>
                                      <label for="nom">Nom:</label><input type="text" name="nom" id="nom" placeholder="votre nom"><br><br>
                                      <label for="email">Votre email :</label> <input type="email" name="email" size="" maxlength="60" id="email" placeholder="Mettez votre email" required="required" /><br><br>
                                      <label for="naissance">Date De Naissance:</label><input type="datetime" name="date" id="date" placeholder="Annee-Mois-Jour"><br><br>
                                      <label for="registre">Numero Registre:</label><input type="number" name="nombre" id="nombre" placeholder="Numero Registre"><br><br>
                                      <label for="adress">Adresse:</label><input type="text" name="adresse" id="adresse" placeholder="votre adresse"><br><br>
                                  </fieldset>
                                  <p>
                                      <input type="submit" value="Envoyer">
                                      <input type="reset" value="Annuler">
                                  </p>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <h2>Commune De Biscuiterie</h2>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="box">
              <div class="imgBx">
                  <img src="../../../assets/images/passeport.jpg">
              </div>
              <div class="contents">
                  <a href="#">
                      <h3>Acte De Naissance</h3>
                  </a>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, alias dolorum? Laboriosam deleniti vitae quia ratione deserunt inventore veniam sit provident odit dolorem! Sed modi, omnis nemo fuga aperiam velit!
                      Numquam perspiciatis omnis modi, id quo quam quas atque nobis dicta amet natus! Facere ipsa ad quia non consectetur voluptate? Autem cupiditate libero error incidunt dolor praesentium recusandae tenetur asperiores!
                  </p><br>
                  <button class="modal-button" href="#myModal5" style="width:200px; height: auto; font-size: 20px;"> Deposez ici </button>

                  <!-- The Modal -->
                  <div id="myModal5" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                          <div class="modal-header">
                              <span class="close">×</span>
                              <h2>Merci de vouloir remplir ce formulaire</h2>
                          </div>
                          <div class="modal-body">
                              <form action="newform" method="POST">
                                  <fieldset>
                                      <legend>Remplir ces champs</legend>
                                      <label for="prenom">Prenom:</label> <input type="text" name="prenom" id="prenom" placeholder="votre prenom"><br><br>
                                      <label for="nom">Nom:</label><input type="text" name="nom" id="nom" placeholder="votre nom"><br><br>
                                      <label for="email">Votre email :</label> <input type="email" name="email" size="" maxlength="60" id="email" placeholder="Mettez votre email" required="required" /><br><br>
                                      <label for="naissance">Date De Naissance:</label><input type="datetime" name="date" id="date" placeholder="Annee-Mois-Jour"><br><br>
                                      <label for="registre">Numero Registre:</label><input type="number" name="nombre" id="nombre" placeholder="Numero Registre"><br><br>
                                      <label for="adress">Adresse:</label><input type="text" name="adresse" id="adresse" placeholder="votre adresse"><br><br>
                                  </fieldset>
                                  <p>
                                      <input type="submit" value="Envoyer">
                                      <input type="reset" value="Annuler">
                                  </p>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <h2>La mairie de biscuiterie vous remercie</h2>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="box">
              <div class="imgBx">
                  <img src="../../../assets/images/fotodemarche.jpg">
              </div>
              <div class="contents">
                  <a href="#">
                      <h3>Acte De Naissance</h3>
                  </a>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, alias dolorum? Laboriosam deleniti vitae quia ratione deserunt inventore veniam sit provident odit dolorem! Sed modi, omnis nemo fuga aperiam velit!
                      Numquam perspiciatis omnis modi, id quo quam quas atque nobis dicta amet natus! Facere ipsa ad quia non consectetur voluptate? Autem cupiditate libero error incidunt dolor praesentium recusandae tenetur asperiores!
                  </p><br>
                  <button class="modal-button" href="#myModal6" style="width:200px; height: auto; font-size: 20px;"> Deposez ici </button>

                  <!-- The Modal -->
                  <div id="myModal6" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                          <div class="modal-header">
                              <span class="close">×</span>
                              <h2>Merci de vouloir entréé des données</h2>
                          </div>
                          <div class="modal-body">
                              <form action="newform" method="POST">
                                  <fieldset>
                                      <legend>Remplir ces champs</legend>
                                      <label for="prenom">Prenom:</label> <input type="text" name="prenom" id="prenom" placeholder="votre prenom"><br><br>
                                      <label for="nom">Nom:</label><input type="text" name="nom" id="nom" placeholder="votre nom"><br><br>
                                      <label for="email">Votre email :</label> <input type="email" name="email" size="" maxlength="60" id="email" placeholder="Mettez votre email" required="required" /><br><br>
                                      <label for="naissance">Date De Naissance:</label><input type="datetime" name="date" id="date" placeholder="Annee-Mois-Jour"><br><br>
                                      <label for="registre">Numero Registre:</label><input type="number" name="nombre" id="nombre" placeholder="Numero Registre"><br><br>
                                      <label for="adress">Adresse:</label><input type="text" name="adresse" id="adresse" placeholder="votre adresse"><br><br>
                                  </fieldset>
                                  <p>
                                      <input type="submit" value="Envoyer">
                                      <input type="reset" value="Annuler">
                                  </p>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <h2>La commune de biscuiterie vous remercie</h2>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="box">
              <div class="imgBx">
                  <img src="../../../assets/images/passeport.jpg">
              </div>
              <div class="contents">
                  <a href="#">
                      <h3>Acte De Naissance</h3>
                  </a>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, alias dolorum? Laboriosam deleniti vitae quia ratione deserunt inventore veniam sit provident odit dolorem! Sed modi, omnis nemo fuga aperiam velit!
                      Numquam perspiciatis omnis modi, id quo quam quas atque nobis dicta amet natus! Facere ipsa ad quia non consectetur voluptate? Autem cupiditate libero error incidunt dolor praesentium recusandae tenetur asperiores!
                  </p><br>
                  <button class="modal-button" href="#myModal7" style="width:200px; height: auto; font-size: 20px;"> Deposez ici </button>

                  <!-- The Modal -->
                  <div id="myModal7" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                          <div class="modal-header">
                              <span class="close">×</span>
                              <h2>Merci de bien vouloir remplir ce formulaire</h2>
                          </div>
                          <div class="modal-body">
                              <form action="newform" method="POST">
                                  <fieldset>
                                      <legend>Remplir ces champs</legend>
                                      <label for="prenom">Prenom:</label> <input type="text" name="prenom" id="prenom" placeholder="votre prenom"><br><br>
                                      <label for="nom">Nom:</label><input type="text" name="nom" id="nom" placeholder="votre nom"><br><br>
                                      <label for="email">Votre email :</label> <input type="email" name="email" size="" maxlength="60" id="email" placeholder="Mettez votre email" required="required" /><br><br>
                                      <label for="naissance">Date De Naissance:</label><input type="datetime" name="date" id="date" placeholder="Annee-Mois-Jour"><br><br>
                                      <label for="registre">Numero Registre:</label><input type="number" name="nombre" id="nombre" placeholder="Numero Registre"><br><br>
                                      <label for="adress">Adresse:</label><input type="text" name="adresse" id="adresse" placeholder="votre adresse"><br><br>
                                  </fieldset>
                                  <p>
                                      <input type="submit" value="Envoyer">
                                      <input type="reset" value="Annuler">
                                  </p>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <h2>Mairie biscuiterie avec mouhamed wade</h2>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="box">
              <div class="imgBx">
                  <img src="../../../assets/images/passeport.jpg">
              </div>
              <div class="contents">
                  <a href="#">
                      <h3>Acte De Naissance</h3>
                  </a>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, alias dolorum? Laboriosam deleniti vitae quia ratione deserunt inventore veniam sit provident odit dolorem! Sed modi, omnis nemo fuga aperiam velit!
                      Numquam perspiciatis omnis modi, id quo quam quas atque nobis dicta amet natus! Facere ipsa ad quia non consectetur voluptate? Autem cupiditate libero error incidunt dolor praesentium recusandae tenetur asperiores!
                  </p><br>
                  <button class="modal-button" href="#myModal8" style="width:200px; height: auto; font-size: 20px;"> Deposez ici </button>

                  <!-- The Modal -->
                  <div id="myModal8" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                          <div class="modal-header">
                              <span class="close">×</span>
                              <h2>Merci pour votre visite</h2>
                          </div>
                          <div class="modal-body">
                              <form action="newform" method="POST">
                                  <fieldset>
                                      <legend>Remplir ces champs</legend>
                                      <label for="prenom">Prenom:</label> <input type="text" name="prenom" id="prenom" placeholder="votre prenom"><br><br>
                                      <label for="nom">Nom:</label><input type="text" name="nom" id="nom" placeholder="votre nom"><br><br>
                                      <label for="email">Votre email :</label> <input type="email" name="email" size="" maxlength="60" id="email" placeholder="Mettez votre email" required="required" /><br><br>
                                      <label for="naissance">Date De Naissance:</label><input type="datetime" name="date" id="date" placeholder="Annee-Mois-Jour"><br><br>
                                      <label for="registre">Numero Registre:</label><input type="number" name="nombre" id="nombre" placeholder="Numero Registre"><br><br>
                                      <label for="adress">Adresse:</label><input type="text" name="adresse" id="adresse" placeholder="votre adresse"><br><br>
                                  </fieldset>
                                  <p>
                                      <input type="submit" value="Envoyer">
                                      <input type="reset" value="Annuler">
                                  </p>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <h2>Commune de biscuiterie 2020</h2>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="box">
              <div class="imgBx">
                  <img src="../../../assets/images/passeport.jpg">
              </div>
              <div class="contents">
                  <a href="#">
                      <h3>Acte De Naissance</h3>
                  </a>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, alias dolorum? Laboriosam deleniti vitae quia ratione deserunt inventore veniam sit provident odit dolorem! Sed modi, omnis nemo fuga aperiam velit!
                      Numquam perspiciatis omnis modi, id quo quam quas atque nobis dicta amet natus! Facere ipsa ad quia non consectetur voluptate? Autem cupiditate libero error incidunt dolor praesentium recusandae tenetur asperiores!
                  </p><br>
                  <button class="modal-button" href="#myModal9" style="width:200px; height: auto; font-size: 20px;"> Deposez ici </button>

                  <!-- The Modal -->
                  <div id="myModal9" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                          <div class="modal-header">
                              <span class="close">×</span>
                              <h2>Merci de bien remplir ce formulaire</h2>
                          </div>
                          <div class="modal-body">
                              <form action="newform" method="POST">
                                  <fieldset>
                                      <legend>Remplir ces champs</legend>
                                      <label for="prenom">Prenom:</label> <input type="text" name="prenom" id="prenom" placeholder="votre prenom"><br><br>
                                      <label for="nom">Nom:</label><input type="text" name="nom" id="nom" placeholder="votre nom"><br><br>
                                      <label for="email">Votre email :</label> <input type="email" name="email" size="" maxlength="60" id="email" placeholder="Mettez votre email" required="required" /><br><br>
                                      <label for="naissance">Date De Naissance:</label><input type="datetime" name="date" id="date" placeholder="Annee-Mois-Jour"><br><br>
                                      <label for="registre">Numero Registre:</label><input type="number" name="nombre" id="nombre" placeholder="Numero Registre"><br><br>
                                      <label for="adress">Adresse:</label><input type="text" name="adresse" id="adresse" placeholder="votre adresse"><br><br>
                                  </fieldset>
                                  <p>
                                      <input type="submit" value="Envoyer">
                                      <input type="reset" value="Annuler">
                                  </p>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <h2>Au revoir bye bye</h2>
                          </div>
                      </div>

                  </div>
              </div>
          </div>


      </div>


    </div>
</div>
    
</app-nav>
