<app-nav>
    <div class="container-fluid m-0 p-0">
        <div class="row mt-2">
            <p class="note note-success">
                <strong>Notes:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus
                delectus placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum perspiciatis similique commodi eum soluta esse nesciunt modi impedit, ipsam est, nisi doloribus tempore nostrum deserunt repellat laudantium consequuntur quos veritatis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque qui officiis consequuntur tenetur eius veritatis nobis doloremque inventore blanditiis incidunt voluptas quas facere optio, excepturi error aperiam sapiente debitis non.
            </p>
        </div>
    </div>
    <div class="container border border-success mb-3">
        <h2>Historique De La Commune</h2>
        <div class="row">
        
            <figure class="text-center">
                <figcaption class="blockquote-footer">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </figcaption>
                <blockquote class="blockquote">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                    ante.
                  </p>
                </blockquote>
            </figure>
            
            
            <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla saepe molestias impedit ipsum assumenda aspernatur ea cum suscipit voluptates consectetur? Ratione est a voluptatem officiis harum optio quis, consequatur et!</li>
                <li>Consectetur adipiscing elit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda totam sed sequi atque nam quidem ab sapiente laudantium ad incidunt? Corrupti et asperiores recusandae minima eligendi dolorem nisi, doloribus quos.</li>
                <li>Integer molestie lorem at massa Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure molestias soluta, corrupti sint aut voluptate deleniti eligendi eum, commodi quae beatae odit, harum fugiat odio facilis minima mollitia nemo vel.</li>
                <li>Facilisis in pretium nisl aliquet Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam excepturi incidunt assumenda doloremque voluptates harum necessitatibus, odit, nisi quasi quia quod vel possimus amet blanditiis ea neque perferendis eaque deleniti?</li>
                <li>
                  Nulla volutpat aliquam velit
                  <ul>
                    <li>Phasellus iaculis neque</li>
                    <li>Purus sodales ultricies</li>
                    <li>Vestibulum laoreet porttitor sem</li>
                    <li>Ac tristique libero volutpat at</li>
                  </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea ex explicabo magni repellendus praesentium magnam, tempora quis illum saepe facere beatae optio ut, laudantium perferendis eius mollitia minus harum expedita!</li>
                <li>Aenean sit amet erat nunc Lorem ipsum dolor sit amet consectetur adipisicing elit. Est soluta suscipit sit eos? Id animi exercitationem, esse natus odit, fugiat, ducimus quaerat veniam harum quae voluptate perferendis provident numquam corrupti?</li>
                <li>Eget porttitor lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum eos quibusdam quae quod iusto corporis. Adipisci, iure dolor illo soluta voluptatum impedit consequatur obcaecati suscipit. Beatae magnam vitae modi ipsum?</li>
              </ul>
        </div>
        
        <dl class="row">
            <dt class="col-sm-3">Description lists</dt>
            <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
          
            <dt class="col-sm-3">Euismod</dt>
            <dd class="col-sm-9">
              <p>
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              </p>
              <p>Donec id elit non mi porta gravida at eget metus.</p>
            </dd>
          
            <dt class="col-sm-3">Malesuada porta</dt>
            <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
          
            <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
            <dd class="col-sm-9">
              Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
              fermentum massa justo sit amet risus.
            </dd>
          
            <dt class="col-sm-3">Nesting</dt>
            <dd class="col-sm-9">
              <dl class="row">
                <dt class="col-sm-4">Nested definition list</dt>
                <dd class="col-sm-8">
                  Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.
                </dd>
              </dl>
            </dd>
          </dl>
    </div>
    
    <div class="container-fluid m-0 p-0">
        <div class="row mt-2">
            <p class="note note-success">
                <strong>Notes:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus
                delectus placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum perspiciatis similique commodi eum soluta esse nesciunt modi impedit, ipsam est, nisi doloribus tempore nostrum deserunt repellat laudantium consequuntur quos veritatis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque qui officiis consequuntur tenetur eius veritatis nobis doloremque inventore blanditiis incidunt voluptas quas facere optio, excepturi error aperiam sapiente debitis non.
            </p>
        </div>
    </div>
    <h2>Les Anciens Maire</h2>
    <div class="text-center text-black ">
      <h2>Les Anciens Maire</h2>
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <img
              src="../../../assets/images/doudou_issa_niass.jfif"
              alt="Trendy Pants and Shoes" class="card-img-top rounded-start" />
          </div>
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0 ">
            <div class="card-body">
              <h1 class="card-title">Feu Doudou Issa Niasse</h1>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolore minima consequuntur dolorem. Nemo sequi quod harum
                vero animi voluptates esse consectetur, assumenda rerum,
                cum ut tempore omnis nisi mollitia eaque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolore minima consequuntur dolorem. Nemo sequi quod harum
                vero animi voluptates esse consectetur, assumenda rerum,
                cum ut tempore omnis nisi mollitia eaque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolore minima consequuntur dolorem. Nemo sequi quod harum
                vero animi voluptates esse consectetur, assumenda rerum,
                cum ut tempore omnis nisi mollitia eaque?
              </p>
              
              <p class="card-text waaw">
                    <a href="" class="text-muted">Voir la Bibliographie</a>
                  </p>
            </div>
          </div>
        </div>
      </div>
    
    
    
    </div>
    
    <div class="text-center text-black ">
      <div class="container p-4">
        <div class="row">
        
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0 ">
            <div class="card-body">
              <h1 class="card-title">Monsieur Lamine Gueye</h1>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolore minima consequuntur dolorem. Nemo sequi quod harum
                vero animi voluptates esse consectetur, assumenda rerum,
                cum ut tempore omnis nisi mollitia eaque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolore minima consequuntur dolorem. Nemo sequi quod harum
                vero animi voluptates esse consectetur, assumenda rerum,
                cum ut tempore omnis nisi mollitia eaque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolore minima consequuntur dolorem. Nemo sequi quod harum
                vero animi voluptates esse consectetur, assumenda rerum,
                cum ut tempore omnis nisi mollitia eaque?
              </p>
              <p class="card-text waaw">
                    <a href="" class="text-muted">Voir la Bibliographie</a>
                  </p>
            </div>
          </div>
        
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <img
              src="../../../assets/images/doudou_issa_niass.jfif"
              alt="Trendy Pants and Shoes" class="card-img-top rounded-start" />
          </div>
          
        </div>
      </div>
    
    
    
    </div>
    
</app-nav>
