<app-nav>
<div class="text-center">
   <h2 class="text-center">BIOGRAPHIE DU MAIRE MOUHAMED DJIBRIL WADE</h2>
   <p class="text-sm-center">Left aligned text on viewports sized SM (small) or wider.</p>
   <p class="text-md-center">Left aligned text on viewports sized MD (medium) or wider.</p>
   <p class="text-lg-center">Left aligned text on viewports sized LG (large) or wider.</p>
   <p class="text-xl-center">Left aligned text on viewports sized XL (extra-large) or wider.</p>
   <hr>
</div>
<div class="container-fluid mb-4">
    <div class="content-text">
        <p>
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio
            dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.
            Cras mattis consectetur purus sit amet fermentum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem deserunt laborum fugit dolor magni voluptas commodi vitae qui perferendis architecto expedita minima excepturi laudantium iusto praesentium aut, delectus atque blanditiis!
            Suscipit, tempore eaque molestias inventore molestiae quae rem deleniti porro, consequatur nemo odio. Non, impedit maxime doloribus natus quia quo. Consectetur iste tempore adipisci quam eos, soluta et vero. Perferendis.
            Reprehenderit eos incidunt voluptatem sed optio explicabo? Aliquid earum mollitia in molestias explicabo alias architecto culpa quasi blanditiis expedita pariatur, voluptatibus officia itaque id ducimus voluptatum aut a iure dicta!
            Quidem sequi quae suscipit alias eligendi enim porro in, dignissimos veniam. Quaerat inventore rerum asperiores et necessitatibus aspernatur magni ratione quidem non recusandae corporis repellendus, doloribus tempora sunt accusantium distinctio?
            Repellat quod assumenda obcaecati, possimus expedita at iste sequi. Tempore odit amet libero porro corporis laboriosam molestiae possimus suscipit, unde dolorem magni reprehenderit natus cupiditate fugit doloremque quaerat placeat ut?
            Dolorem nostrum beatae error vero possimus iste iure mollitia? Sapiente similique, numquam pariatur hic illo eveniet quo consequatur modi laudantium sint ex asperiores magni repudiandae voluptas placeat fugit laboriosam nesciunt.
            Eius ab, obcaecati blanditiis sint magni tenetur nisi laborum ipsam commodi, ea dolore voluptates aliquam quas sapiente temporibus vero enim quia cupiditate cumque illum, dignissimos adipisci minus? Consectetur, numquam deleniti.
            Officia et natus ea, magnam animi obcaecati voluptate quia aliquid qui, pariatur eius porro vitae, quo molestiae iure. Neque est omnis porro similique! Atque nam repellendus nisi est veritatis deleniti?
            Corporis quod inventore nihil delectus, vero laboriosam, amet nesciunt voluptatum tenetur velit et voluptates magni id aut quam ipsa. Sed quas reprehenderit cupiditate possimus corporis alias vitae nisi odit vel.
            At magnam nihil, modi hic amet numquam dignissimos itaque laudantium, aspernatur maiores, perferendis tempora unde enim rerum atque tempore? Accusantium explicabo quasi incidunt obcaecati ratione at sequi voluptatum commodi autem!
          </p>
          <!-- <p class="lh-sm">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio
            dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.
            Cras mattis consectetur purus sit amet fermentum.
          </p>
          <p class="lh-base">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio
            dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.
            Cras mattis consectetur purus sit amet fermentum.
          </p>
          <p class="lh-lg">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio
            dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.
            Cras mattis consectetur purus sit amet fermentum.
          </p>
          
          <p class="lh-1">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio
            dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.
            Cras mattis consectetur purus sit amet fermentum.
          </p>
          <p class="lh-sm">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio
            dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.
            Cras mattis consectetur purus sit amet fermentum.
          </p>
          <p class="lh-base">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio
            dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.
            Cras mattis consectetur purus sit amet fermentum.
          </p>
          <p class="lh-lg">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio
            dui. Cras mattis pannenkoek purus sit amet fermentum. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.
            Cras mattis consectetur purus sit amet fermentum.
          </p> -->
    
    </div>
    <div class="content-image">
        <img src="../../../../assets/images/maire.PNG" class="image_actu"
                alt="Hollywood Sign on The Hill" />
    </div>
    
</div>

<div class="row g-0 position-relative mb-3" style="background-color: #1F758E;">
  <h2>Les Prédecessurs</h2>
  <div class="col-md-3 mb-md-0 p-md-4">
    <img
      src="../../../../assets/images/doudou_issa_niass.jfif"
      class="w-100"
      alt="..."
    />
  </div>
  <div class="col-md-3 p-4 ps-md-0">
    <h5 class="mt-0">Feu Doudou Issa Niasse</h5>
    <p style="color: white;">
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
      sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
      Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
      faucibus.
    </p>
  </div>
  
  <div class="col-md-3 mb-md-0 p-md-4">
    <img
      src="../../../../assets/images/doudou_issa_niass.jfif"
      class="w-100"
      alt="..."
    />
  </div>
  <div class="col-md-3 p-4 ps-md-0">
    <h5 class="mt-0">Monsieur Lamine Dia</h5>
    <p>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
      sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
      Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
      faucibus.
    </p>
  </div>
  
</div>

</app-nav>
<router-outlet></router-outlet>